.content{
  width: 90%;
  margin: auto;
  text-align: center;
  margin-top: 50px;
  max-width: 1800px;
}

.calendar {
    box-shadow: 0px 0px 20px #000000ab;
    padding: 20px;
    width: 100%;
    max-width: 700px;
    min-width: 350px;
    background-color: #424242;
}

.tasks {
  box-shadow: 0px 0px 20px #000000ab;
  padding: 0px;
  min-height: 400px;
  padding-bottom: 20px;
  border-radius: 5px;
  width: 100%;
  max-width: 700px;
  min-width: 350px;
  margin: 0;
  background-color: #424242;
}

.leftDiv{
  float: left;
  margin: 0;
  width:40%;
  max-width: 700px;
  padding: 5px;
  margin-left: 5%;
}

.rightDiv{
  float:right;
  margin: 0;
  width:40%;
  max-width: 700px;
  padding: 5px;
  top: 0;
  margin-right: 5%;
}

.taskTitle{
  padding-top: 50px;
}

.taskDiv{
  text-align: left;
  background-color: rgba(0, 0, 0, 0.199);
  margin-left: 10px;
  margin-right: 10px;
  padding:15px;
  border-radius: 5px;
  margin-bottom: 5px;
  overflow: hidden;
}

mat-label{
  color: #FFFFF9;
}

:host ::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: #FFFFF9;
}

:host ::ng-deep .mat-checkbox .mat-checkbox-frame {
  transform: scale(0.7);
}

:host ::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  transform: scale(0.7);
}

:host ::ng-deep .mat-checkbox {
  width: 0px;
  height: 0px;
  margin-right: 5px;
}


.taskContent{
  float: left;
  width: 70%;
  padding-top: 10px;
}

.taskTime{
  width: 18%;
  padding-right: 30px;
  padding-top: 10px;
  text-align: right;
  overflow: hidden;
}

.taskBtn{
  padding: 0;
  ;
}

.formDiv{
  padding: 0;
}

.taskField{
  margin-right: 5px;
  width: 50%;
}

.leftInput{
  width: 70%;
  float: left;
}

.rightBtns{
  padding-top: 10px;
  text-align: right;
  overflow: hidden;
}

.addTaskBtnDiv{
  margin-top: 20px;
}

::ng-deep .mat-calendar-body-cell:hover{
  background-color: rgba(255, 255, 255, 0.397);
  border-radius: 5px;
}



#save{
  color:#9C27B0;
}

#cancel{
  color: rgba(255, 0, 0, 0.651);
}

::ng-deep .mat-calendar-body-cell-content{
  background: none !important;
   pointer-events: none;
}

::ng-deep .mat-calendar-body-selected:not(.mat-calendar-body-cell-today){
  border: solid;
  border-radius: 5px;
  border-color: rgba(255, 0, 0, 0.397) !important;
}



::ng-deep .mat-calendar-body-active:not(.mat-calendar-body) { background-color: none !important; border:none !important;}

::ng-deep .mat-calendar-body-today:not(.mat-calendar-body-selected) { border-radius: 5px !important; border-width: 3px;}



@media screen and (max-width: 1000px) {
  .content{
    padding-top: 5%;
    width: 90%;
    margin: auto;
    text-align: center;
  }

  .calendar {
    box-shadow: 0px 0px 20px #000000ab;
    padding: 20px;
    width: 60%;
    background-color: #424242;
    margin: auto;
  }

  .tasks {
    box-shadow: 0px 0px 20px #000000ab;
    padding: 20px;
    border-radius: 5px;
    width: 60%;
    background-color: #424242;
    margin: auto;
  }

  .leftDiv{
    float: none;
    display:inline;
    margin: 0;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-right: 100px;
    width:30%;
    max-width: 500px;
  }

  .rightDiv{
    float: none;
    display: inline;
    margin: 0;
    margin-bottom: 10vh;
    width:30%;
    max-width: 500px;
  }

  .taskField{
    margin-right: 5px;
    width: 56%;
  }
  .leftInput{
    width: 75%;
    float: left;
  }
}

@media screen and (min-width: 1600px) {
  .taskField{
    margin-right: 5px;
    width: 75%;
  }
  .leftInput{
    width: 80%;
    float: left;
  }
}


@media screen and (max-width: 800px) {
  .taskField{
    margin-right: 5px;
    width: 45%;
  }
  .leftInput{
    width: 70%;
    float: left;
  }
}