<div class="content">
    <div class="leftDiv">
        <mat-card class="calendar">
            <mat-calendar [dateClass]="dateClass()" (dblclick)="printDate()" (selectedChange)="selected = $event"></mat-calendar>
        </mat-card>
        <!-- <p>Selected date: {{selected|date:'shortDate':'pl'}}</p> -->
    </div>

    <div class="rightDiv">
        <div class="tasks">
            <h2 class="taskTitle">Zadania na dzień  {{selected|date:'shortDate'}}</h2>
            
            <div class="taskDiv">
                Zadanie 1
            </div>

            <div class="taskDiv">
                Zadanie 2
            </div>

            <div class="taskDiv">
                Zadanie 3
            </div>

        </div>
        <!-- <p>Selected date: {{selected|date:'shortDate':'pl'}}</p> -->
    </div>
</div>