<div *ngIf="tasks" class="content">
    <div class="leftDiv">
        <mat-card class="calendar">
            <mat-calendar [dateClass]="populateCalendar()" (click)="getDayEvents()"  (selectedChange)="selected = $event"></mat-calendar>
        </mat-card>
        <!-- <p>Selected date: {{selected|date:'shortDate':'pl'}}</p> -->
    </div>

    <div class="rightDiv">
        <div class="tasks">
            <h2 class="taskTitle">Zadania na dzień  {{selected|date:'shortDate'}}</h2>
            
            <div *ngFor="let task of tasks" class="taskDiv">
                {{task.content}}
            </div>

        </div>
        <!-- <p>Selected date: {{selected|date:'shortDate':'pl'}}</p> -->
    </div>
</div>