<div class="vCenterDiv">
    <div class="credentials">
        <h1>Utwórz nowe konto</h1>

        <form (submit)="register()" [formGroup]='form'>
            <div class="inputDiv">
                <mat-form-field appearance="outline">
                    <mat-label>Nick</mat-label>
                    <input formControlName='name' matInput />
                    <mat-error *ngIf="form.invalid">{{getErrorFieldName()}}</mat-error>
                </mat-form-field>
            </div>
            <div class="inputDiv">
                <mat-form-field appearance="outline">
                    <mat-label>Adres email</mat-label>
                    <input formControlName='email' type="email" matInput />
                    <mat-error *ngIf="form.invalid">{{getErrorFieldEmail()}}</mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Hasło</mat-label>
                    <input formControlName='password' type="password" matInput />
                    <mat-error *ngIf="form.invalid">{{getErrorFieldPassword()}}</mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Powtórz hasło</mat-label>
                    <input formControlName='repeatPassword' type="password" matInput />
                    <mat-error *ngIf="form.invalid">{{getErrorFieldRepeatPassword()}}</mat-error>
                </mat-form-field>
            </div>
            <button type="submit" [disabled]="form.invalid" mat-button>Zarejestruj</button>
        </form>

        

        <p>Posiadasz już konto? klikniuj <a routerLink="/auth/login">tutaj</a> aby się zalogować</p>

    </div>
</div>