<mat-toolbar class="primary">
    <h1 id="logo">TaskPlanner</h1>
    <span *ngIf="authService.currentUser$ | async">
        <a mat-button routerLink="tasks">
            <mat-icon>task</mat-icon>Zadania</a>
    </span>
    <span style="width: 100%;"></span>
    <span *ngIf="!(authService.currentUser$ | async)">
        <a mat-button routerLink="auth/login">
            <mat-icon>login</mat-icon>Zaloguj</a>
    </span>
    <span *ngIf="!(authService.currentUser$ | async)">
        <a mat-button routerLink="auth/register">
            <mat-icon>person_add</mat-icon>Rejestracja</a>
    </span>
    <span *ngIf="authService.currentUser$ | async">
        <a mat-button routerLink="account">
            <mat-icon>account_circle</mat-icon>Witaj {{(authService.currentUser$ | async)?.user}}!</a>
    </span>
    <span *ngIf="authService.currentUser$ | async">
        <a mat-button routerLink="" (click)="logout()">
            <mat-icon>logout</mat-icon>Wyloguj</a>
    </span>
</mat-toolbar>