<div class="vCenterDiv">
    <div class="credentials">
        <div class="info">
            <h1>Szczegóły konta</h1>
        </div>

        <div class="loadDiv" *ngIf="!userName && !email">
            <mat-spinner></mat-spinner>
        </div>

        <div *ngIf="userName && email" class="content">
            <div class="wrapper" *ngIf="!nameEdit">
                <div class="first">
                    <h2>Nick: {{userName}}</h2>
                </div>
                <div class="second">
                    <button class="editBtn" mat-icon-button (click)="toogleNameEdit()"><mat-icon>edit</mat-icon></button>
                </div>
            </div>
            <div *ngIf="nameEdit" style="height: 70px">
                <form [formGroup]="formName">
                    <mat-form-field appearance="outline">
                        <mat-label>Nick</mat-label>
                        <input formControlName='name' matInput />
                        <mat-error *ngIf="formName.invalid">{{getErrorFieldName()}}</mat-error>
                    </mat-form-field>
                    <button type="button" class="editBtnAction" id="cancel" mat-icon-button (click)="toogleNameEdit()"><mat-icon >cancel</mat-icon></button>
                    <button type="submit" [disabled]="formName.invalid" class="editBtnAction" id="save" mat-icon-button (click)="saveNameChange()"><mat-icon >save</mat-icon></button>
                </form>
            </div>
            <hr>
            <div class="wrapper" *ngIf="!emailEdit">
                <div class="first">
                    <h2>Email: {{email}}</h2>
                </div>

                <div class="second">
                    <button class="editBtn" mat-icon-button (click)="toogleEmailEdit()"><mat-icon>edit</mat-icon></button>
                </div>
            </div>
            <div *ngIf="emailEdit" style="height: 70px">
                <form [formGroup]="formEmail">
                    <mat-form-field appearance="outline">
                        <mat-label>Adres email</mat-label>
                        <input formControlName='email' type="email" matInput />
                        <mat-error *ngIf="formEmail.invalid">{{getErrorFieldEmail()}}</mat-error>
                    </mat-form-field>
                    <button type="button" class="editBtnAction" id="cancel" mat-icon-button (click)="toogleEmailEdit()"><mat-icon >cancel</mat-icon></button>
                    <button type="submit" class="editBtnAction" [disabled]="formEmail.invalid" id="save" mat-icon-button (click)="saveEmailChange()"><mat-icon >save</mat-icon></button>
                </form>
            </div>
            <hr>
            <div class="wrapper" *ngIf="!passwordEdit">
                <div class="first">
                    <h2>Hasło: ******</h2>
                </div>
                <div class="second">
                    <button class="editBtn" mat-icon-button (click)="tooglePasswordEdit()"><mat-icon>edit</mat-icon></button>
                </div>
            </div>
            <div *ngIf="passwordEdit" style="height: 130px">
                <form [formGroup]="formPassword">
                    <mat-form-field style="padding: 0;" appearance="outline">
                        <mat-label>Nowe hasło</mat-label>
                        <input formControlName='password' type="password" matInput />
                        <mat-error *ngIf="formPassword.invalid">{{getErrorFieldPassword()}}</mat-error>
                    </mat-form-field>
                    <button type="button" style="top: 45px;" class="editBtnAction" id="cancel" mat-icon-button (click)="tooglePasswordEdit()"><mat-icon >cancel</mat-icon></button>
                    <button type="submit" style="top: 45px;" [disabled]="formPassword.invalid" class="editBtnAction" id="save" mat-icon-button (click)="savePasswordChange()"><mat-icon >save</mat-icon></button>
                    <mat-form-field appearance="outline">
                        <mat-label>Powtórz hasło</mat-label>
                        <input formControlName='repeatPassword' type="password" matInput />
                        <mat-error *ngIf="formPassword.invalid">{{getErrorFieldRepeatPassword()}}</mat-error>
                    </mat-form-field>
                </form>
            </div>
            <div>
                <button mat-button class="deleteBtn" (click)="delete()">Usuń konto</button>
            </div>
        </div>
    </div>
</div>