.vCenterDiv{
    margin: 0;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.credentials{
    border: solid;
    border-color: #9C27B0;
    border-radius: 10px;
    padding: 20px;
    width: 40%;
    max-width: 450px;
    min-width: 300px;
    margin: auto;
}
.editBtn{
    float: right; 
    top:-5px;
}

.info{
    width: 100%; 
    text-align: center;
}

.deleteBtn{
    background-color: rgba(255, 0, 0, 0.651); 
    margin-top: 30px;
}

.content{
    padding-top: 20px;
}

.loadDiv{
    margin-top: 50px;
    margin-bottom: 50px;
}

mat-spinner{
    margin: 0 auto;
}

mat-label{
    color: #FFFFF9;
}

mat-form-field{
    width: 70%;
    max-width: 500px;
}

form{
    padding:0;
    margin:0;
    height: 55px;
}

.editBtnAction{
    top:10px;
    float:right;
}

#save{
    color:#9C27B0;
}

#cancel{
    color: rgba(255, 0, 0, 0.651);
}

h2{
    padding-left: 5px;
}